.btn {
	display: inline-block;
	border-radius:4px;
	min-width: 110px;
	padding: 9px 10px;
	text-align: center;
	font-size: 16px;
	line-height: 1;

	&.blue {
		background-color: @blue;
		color: @white;

		&:hover {
			background-color: lighten(@blue, 5%);
		}
	}

	&.white {
		padding: 8px 10px;
		background-color: @white;
		color: @black;
		border: 1px solid #979797;
		&:hover {
			background-color: darken(@white, 5%);
		}
	}
}

.button-group {
	text-align: center;
}

.btn-back {
	margin-top:20px;
	margin-bottom: 20px;
	color: @white;
	vertical-align: middle;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;

	&:before {
		margin-right: 5px;
		content: "\F103";
		font-family: Flaticon;
		font-size: 20px;
		vertical-align: middle;
		position: relative;
		top: -1px;
	}

	&.blue {
		color: @blue;
	}
}